<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ecart</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/styles.css" rel="stylesheet" />

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Shop with us</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Shopping")">Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Item")">Add items</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    </li>
                </ul>


                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        @Html.Partial("_ShoppingCart")
                        <i class="bi-cart-fill me-1"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Online lolli's shopping</h1>
                <p class="lead fw-normal text-white-50 mb-0">Get your items on our store</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    @RenderBody()
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">&copy; @DateTime.Now.Year - Phungula's Software</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>


<!--- @*
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ecart</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <style>

        .navbar-nav a {
            color: white !important;
        }

            .navbar-nav a:hover {
                color: orangered !important;
            }

        .navbar-nav li a {
            font-size: 16px;
        }
        /* Style the link containers */
        .nav-link-container {
            padding: 10px; /* Add padding to space out the links */
            border: 1px solid #ddd; /* Add a border for separation */
            margin-right: 13.5px;
            margin-top: 6px;
            margin-bottom: 5px;
            border-radius: 8px;
            transition: 0.3s;
            background-color: midnightblue;
            cursor: pointer;
        }

            /* Style the links within the containers */
            .nav-link-container a {
                text-decoration: none; /* Remove underline from links */
                color: #333; /* Change link color */
                cursor: pointer;
            }

                /* Add hover effect to links */
                .nav-link-container a:hover {
                    color: #0078d4; /* Change link color on hover */
                }

        body {
            font-family: Arial, sans-serif;
            background-color: aliceblue;
            background-image: url('/Uploads/Website-Background.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 48px;
            margin: 0;
        }


        .btn-container {
            margin-top: 20px;
        }

        .btn {
            background-color: red;
            color: #fff;
            padding: 15px 30px;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .btn:hover {
                background-color: maroon;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ecart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Item", "Index", "Item")
                    </li>
                    <li>
                        @Html.ActionLink("Shopping", "Index", "Shopping")
                    </li>
                </ul>
                @Html.Partial("_ShoppingCart")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Phungula's Software </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

    *@-->
